:root {
    --primary-color: #e8e8ef;
    --secondary-color: #422C73;
    --third-color: #1c0c3e;
    }

h5{
    font-size: 30px;
}
    
h6{
    font-size: 16px;
}

i:hover{
    color: red !important;
}

.fas{
    font-size: 30px;
    margin-top: 3%;
}

.galerie {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    max-width: 1300px;
    margin: 70px auto 0;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--third-color);
    border: var(--third-color) 4px solid;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
}

.item:hover {
    border: rgb(255, 3, 3) 4px solid;
}

.hidden-box{
    margin-top: 20%;
    margin-bottom: 10%;
    visibility: hidden;
}
