

<title>{% block title %}Multivers_Art3{% endblock %}</title>

{% block stylesheets %}
 
<link rel="stylesheet" href="{{ asset('css/univers/gallery3.css') }}">

{% endblock %}

{% block body %}

<div title="Revenir à MetaVerse" class="minion-switcher">
	<input onclick="setTimeout(function(){location.href='{{ path('art_multiverse') }}';}, 1000);" type="checkbox" class="check">
	<div class="btn">
		<div class="eye">
			<div class="eye-back"></div>
			<div class="eye-inner">
				<div class="eye-brown"></div>
			</div>
			<div class="eye-cover"></div>
		</div>
	</div>
</div>

<div id="minunes">
<div id="glasses">
<div id="left_side"></div>
<div id="glass1" >
<div id="pupil1"></div>
<div id="hole1"></div>
</div>
<div id="glass2" >
<div id="pupil2"></div>
<div id="hole2"></div>
</div>
<div id="right_side"></div>
</div>
<ul id="hair">
  <li class="hair1"></li>
  <li class="hair2"></li>
  <li class="hair3"></li>
  <li class="hair4"></li>
  <li class="hair5"></li>
  <li class="hair6"></li>
  <li class="hair7"></li>
  <li class="hair8"></li>
  <li class="hair9"></li>
  <li class="hair10"></li>
  <li class="hair11"></li>
  <li class="hair12"></li>
  <li class="hair13"></li>
  <li class="hair14"></li>
  <li class="hair15"></li>
  <li class="hair16"></li>
  <li class="hair17"></li>
  <li class="hair18"></li>
  <li class="hair19"></li>
  <li class="hair20"></li>
  <li class="hair21"></li>
  <li class="hair22"></li>
  <li class="hair23"></li>
  <li class="hair24"></li>
  <li class="hair25"></li>
</ul><div id="mouth"></div>
</div>
<div id="left_hand"></div>
<div id="right_hand"></div>
<ul id="wall">
<li class="block1 top"></li>
<li class="block2 top"></li>
<li class="block3 top"></li>
<li class="block4 top"></li>
<li class="block1 top"></li>
<li class="block3 top"></li>
<li class="block1"></li>
<li class="block2"></li>
<li class="block3"></li>
<li class="block4"></li>
<li class="block1"></li>
<li class="block3"></li>
<li class="block3"></li>
<li class="block1"></li>
<li class="block4"></li>
<li class="block1"></li>
<li class="block3"></li>
<li class="block2"></li>
<li class="block1"></li>
<li class="block4"></li>
<li class="block1"></li>
<li class="block3"></li>
<li class="block2"></li>
</ul>

{% endblock %}

